.back{
    background-image: url("../img/backgrounds/bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
       
}

.moana{
    color: black;
}

.side{
    background-image: linear-gradient(45deg, rgba(38, 63, 77, 0.788) 0%, rgba(68, 135, 211, 0.863) 10%,rgb(47, 151, 212) 10%, rgb(40, 104, 141) 45%,rgba(16, 69, 167, 0.973) 45%, rgb(78, 73, 155) 70%,rgb(96, 43, 139) 70%, rgb(44, 25, 112) 81%,rgb(45, 54, 65) 81%, rgb(45, 47, 65) 88%,rgb(6, 25, 42) 88%, rgb(54, 65, 114) 100%);
}

.text{
    color: #0b22f5;
}
